@keyframes menuTopOpen {
	from { 
		transform: rotate(0deg);
		background-color: #eeeeee; 
	}

	to { 
		transform: rotate(-36deg);
		background-color: #e53935;
	}
}

@keyframes menuBottomOpen {
	from { 
		transform: rotate(0deg); 
		background-color: #eeeeee; 
	}

	to { 
		transform: rotate(36deg); 
		background-color: #e53935; 
	}
}

@keyframes menuTopClose {
	from { 
		transform: rotate(-36deg); 
		background-color: #e53935;
	}

	to { 
		transform: rotate(0deg); 
		background-color: #eeeeee; 
	}
}

@keyframes menuBottomClose {
	from { 
		transform: rotate(36deg); 
		background-color: #e53935;
	}

	to { 
		transform: rotate(0deg); 
		background-color: #eeeeee;  
	}
}

@keyframes menuIn {
	from { transform: scaleY(0); }
	to { transform: scaleY(1); }
}

@keyframes menuOut {
	from { transform: scaleY(1); }
	to { transform: scaleY(0); }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}