html, body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

nav {
	height: 55px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(60, 60, 60, 0.9);
	padding: 0 16px;
	position: fixed;
	top: 0;
	z-index: 5;
}

nav > h2 {
	margin-right: auto;
	margin-left: 8px;
	color: #eeeeee;
}

p {
	cursor: default;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: #222;
}

h2 {
	cursor: default;
	color: #111111;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 300;
	font-size: 18pt;
	margin: 0;
}

h3 {
	cursor: default;
	color: #222;
	font-family: 'Raleway', sans-serif;
	font-size: 13pt;
	margin: 16px 0 0;
	text-align: center;
}

textarea {
	resize: none;
}

textarea:focus, input:focus {
	outline: none;
}

.menudiv {
	height: 2px;
	width: 20px;
	background-color: #eeeeee;
	margin: 2px 0;
}

.photo {
	height: 150px;
	width: 100%;
	background-color: #555555;
}

.info {
	position: relative;
	padding: 13px 11px;
}

.info > p {
	text-align: center;
	padding: 14px 6px 12px;
}

.info > h2 {
	width: 55px;
	color: #333;
	padding-bottom: 3px;
	margin-left: 9px;
	border-bottom: 2px solid #555;
	text-align: center;
	font-size: 16pt;
}

#menubutton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-right: 26px;
	padding: 8px;
}

#menutop {
	transform-origin: right center;
}

#menubottom {
	transform-origin: right center;
}

#menushade {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(60, 60, 60, 0.7);
	opacity: 0;
	z-index: 4;
	display: none;
}

#menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 37px;
	background-color: rgba(60, 60, 60, 0.9);
	width: calc(100% - 20px);
	position: fixed;
	top: 55px;
	z-index: 5;
	transform: scaleY(0);
	transform-origin: center top;
	padding: 0 10px;
	border-top: 1px solid rgb(65, 65, 65);
}

#menu > a {
	text-decoration: none;
}

#menu > a > p {
	color: #eeeeee;
	font-size: 12pt;
	letter-spacing: 1px;
	opacity: 0;
	padding: 8px;
}

#homephoto {
	position: relative;
	height: 255px;
	width: 100%;
	background-color: #555555;
}

#homephoto > h2 {
	position: absolute;
	bottom: 120px;
	left: 20px;
	color: #eeeeee;
}

#homephoto > p {
	position: relative;
	top: 135px;
	left: 20px;
	width: 180px;
	font-size: 11pt;
	color: #eeeeee;
}

#projects > p {
	padding-bottom: 0;
}

#projects > h2 {
	width: 75px;
}

#contact > h2 {
	width: 70px;
}

#contactform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0 20px;
}

#contactform > input {
	width: calc(100% - 18px);
	height: 20px;
	padding: 4px 9px;
	margin: 0;
	background-color: #eee;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
}

#contactform > textarea {
	width: calc(100% - 18px);
	height: 150px;
	padding: 4px 9px;
	margin: 0;
	background-color: #eee;
	border: none;
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
}

#contactform > p {
	padding: 18px 0 6px;
}

#send {
	border: none !important;
	background-color: #fff !important;
	height: 35px !important;
	width: 100% !important;
}

@media only screen and (min-width: 768px) {
	#homephoto {
		height: 650px;
	}

	#homephoto > h2 {
		bottom: 315px;
		left: 140px;
		font-size: 30pt;
	}

	#homephoto > p {
		top: 335px;
		left: 140px;
		width: 800px;
		font-size: 18pt;
	}
}