html, body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

nav {
	height: 55px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(60, 60, 60, 0.9);
	padding: 0 16px;
	position: fixed;
	top: 0;
	z-index: 5;
}

nav > a {
	margin-right: auto;
}

nav > a > h2 {
	color: #eeeeee;
	font-size: 20pt;
}

a {
	text-decoration: none;
}

p {
	cursor: default;
	font-family: 'Nanum Gothic Coding', sans-serif;
	margin: 0;
	color: #222;
	line-height: 16px;
	letter-spacing: 0.3px;
}

h2 {
	cursor: default;
	color: #111111;
	font-family: 'Nanum Gothic Coding', sans-serif;
	font-weight: 700;
	font-size: 18pt;
	margin: 0;
}

h3 {
	cursor: default;
	color: #222;
	font-family: 'Nanum Gothic Coding', sans-serif;
	font-size: 18px;
	margin: 13px 0 0;
	text-align: center;
	letter-spacing: 0.2px;
}

textarea {
	resize: none;
}

textarea, input[type="text"], input[type="submit"], input[type="email"] {
	-webkit-appearance: none;
	border-radius: 0;
}

textarea, input {
	border: 1px solid transparent !important;
	border-bottom: 1px solid #ccc !important;
	font-size: 16px;
	color: #444;
}

textarea:focus, input:focus {
	outline: none;
	border: 1px solid #ccc !important;
	border-radius: 5px !important;
	background-color: #fff !important;
}

input[type="submit"], button {
	border: 1px solid #ccc !important;
	background-color: #fff !important;
	height: 35px !important;
	width: 100px !important;
	border-radius: 5px !important;
	padding: 6px 9px;
	margin: 0;
	font-size: 12pt;
	font-family: 'Nanum Gothic Coding', sans-serif;
}

.menudiv {
	height: 2px;
	width: 20px;
	background-color: #eeeeee;
	margin: 2px 0;
}

.photo {
	height: 180px;
	width: 100%;
	background-color: #555555;
}

.info {
	position: relative;
	padding: 17px 14px;
}

.info > p {
	text-align: left;
	padding: 14px 9px 12px;
	font-size: 16px;
}

.info > h2 {
	width: calc(100% - 22px);
	color: #333;
	padding-bottom: 5px;
	margin: 0 9px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-size: 29px;
}

.anchor {
	position: relative;
	top: -45px;
	display: block;
}

.skills {
	text-align: center !important;
}

.projectbuttons {
	padding: 10px 0% 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.projectbuttons > button:first-of-type {
	margin-right: 16px;
}

#menubutton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-right: 26px;
	padding: 8px;
}

#menutop {
	transform-origin: right center;
}

#menubottom {
	transform-origin: right center;
}

#menushade {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(20, 20, 20, 0.8);
	opacity: 0;
	z-index: 4;
	display: none;
}

#menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 37px;
	background-color: rgba(75, 75, 75, 0.9);
	width: calc(100% - 20px);
	position: fixed;
	top: 55px;
	z-index: 5;
	transform: scaleY(0);
	transform-origin: center top;
	padding: 0 10px;
}

#menu > a {
	text-decoration: none;
}

#menu > a > p {
	color: #eeeeee;
	font-size: 12pt;
	letter-spacing: 1px;
	opacity: 0;
	padding: 8px;
}

#homephoto {
	position: relative;
	height: 255px;
	width: 100%;
	background-color: #555555;
}

#homephoto > h2 {
	position: absolute;
	bottom: 122px;
	left: 20px;
	color: #eeeeee;
	font-size: 18pt;
}

#homephoto > p {
	position: relative;
	top: 138px;
	left: 20px;
	width: 190px;
	font-size: 11pt;
	color: #eeeeee;
}

#about > p {
	padding-top: 5px;
}

#about > p:first-of-type {
	padding-bottom: 22px;
}

#about > h2 {
	margin-bottom: 18px;
}

#about > h2:first-of-type {
	margin-bottom: 8px;
}

#projects {
	margin-bottom: 5px;
}

#projects > img {
	width: 60%;
	padding: 20px 20% 8px;
}

#projects > img:not(:first-of-type) {
	width: 96%;
	padding: 20px 2% 8px;
}

#projects > p {
	padding-bottom: 4px;
}

#projects > h2 {
	margin-bottom: 18px;
}

#contact > p {
	padding-top: 8px;
}

#contact > h2 {
	margin-bottom: 5px;
}

#contactform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0 20px;
}

#contactform > input {
	width: calc(100% - 18px);
	height: 20px;
	padding: 6px 9px;
	margin: 0;
	background-color: #eee;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 12pt;
	font-family: 'Nanum Gothic Coding', sans-serif;
}

#contactform > textarea {
	width: calc(100% - 18px);
	height: 150px;
	padding: 8px 9px;
	margin: 0 0 24px;
	background-color: #eee;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 12pt;
	font-family: 'Nanum Gothic Coding', sans-serif;
}

#contactform > p {
	font-size: 18px;
	padding: 18px 0 6px;
	color: #333;
}

#contactform > h3:first-of-type {
	margin-top: 0;
	padding-top: 12px;
}

#send {
	margin-left: auto !important;
	margin-bottom: 25px !important;
}

#send:active {
	background-color: #ccc !important;
}

@media only screen and (min-width: 768px) {

	p {
		font-size: 13pt !important;
	}

	h3 {
		font-size: 18pt;
	}

	a:hover {
		cursor: pointer;
	}

	nav > a {
		margin-left: 12px;
	}

	nav > a > h2 {
		font-size: 22pt;
	}

	textarea:hover, input:hover {
		border: 1px solid #ccc !important;
		border-radius: 5px !important;
	}

	button:hover, input[type="submit"]:hover {
		cursor: pointer;
		background-color: #ccc !important;
	}

	.info {
		padding: 17px 20%;
	}

	.info > h2 {
		font-size: 28pt;
		margin-bottom: 16px;
	}

	.photo {
		height: 400px;
	}

	#menu {
		height: 55px;
		background-color: rgba(60, 60, 60, 0);
		width: 400px;
		top: 0;
		right: 4px;
		transform: scaleY(1);
		border-top: none;
	}

	#menu > a > p {
		opacity: 1;
		padding: 8px;
	}

	#menu > a > p:hover, nav > a > h2:hover {
		cursor: pointer;
		color: #39796b;
	}

	#menushade {
		height: 55px;
		opacity: 1;
	}

	#menubutton {
		display: none;
	}

	#homephoto {
		height: 570px;
	}

	#homephoto > h2 {
		bottom: 275px;
		left: 180px;
		font-size: 28pt;
	}

	#homephoto > p {
		top: 301px;
		left: 180px;
		width: 400px;
		font-size: 18pt;
	}

	#about > p {
		padding-bottom: 18px;
	}

	#contactform {
		padding: 0 15%;
	}
}
